.contact-card {
  position: relative;
  border-radius: 22px;
  padding: clamp(10px, 2.8vw, 28px);
  @include card-bg;
}

.contact-list { 
  list-style: none; 
  margin: 0; 
  padding: 0; 
  display: grid; 
  gap: clamp(14px, 2vw, 20px); 
}

.contact-row {
  display: grid;
  grid-template-columns: 42px 1fr;
  align-items: center;
  gap: 16px;

  &:hover { 
    .contact-link{
      box-shadow: 
        inset 6px 6px 12px rgba(0,0,0,0.45), 
        inset -6px -6px 12px rgba(255,255,255,0.05); 
    }
    .contact-icon{
      @include inset-soft-hover;
    }  
  }
}

.contact-icon {
  display: grid;
  place-items: center;
  width: 48px; height: 48px;
  border-radius: 14px;
  color: var(--orange);
  font-size: 26px;
  @include inset-soft;
  transition: var(--transition);
}

.contact-link {
  font-size: clamp(16px, 2.1vw, 22px);
  text-decoration: none;
  padding: 10px 12px;
  border-radius: 14px;
  display: inline-block;
  background: transparent;
  box-shadow: 
    inset 0px 0px 0px rgba(0,0,0,0.45),
    inset 0 0 0 1px rgba(255,255,255,0.03);
  transition: var(--transition);
}

.contact-socials{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
  border-radius: 14px;
  box-shadow: 
      6px 6px 12px rgba(0,0,0,0.45), 
      -6px -6px 12px rgba(255,255,255,0.05);

  @include respond-down("xs") {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  &__social{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover{
      .contact-socials__social-icon{
        @include inset-soft-hover;
      }
      .contact-socials__social-title{
        @include inset-soft;
      }
    }
  }

  &__social-icon{
    display: grid;
    place-items: center;
    width: 48px; height: 48px;
    border-radius: 14px;
    color: var(--orange);
    font-size: 26px;
    @include inset-soft;
    transition: var(--transition);
  }

  &__social-title{
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 10px;
    @include inset-soft-hover;
    transition: var(--transition);
  }
}
