.content {
  scroll-margin-top: 96px;
  grid-column: 2 / -1;
  grid-row: 1 / -1;
  overflow-y: auto;
  margin-top: 20px;
  z-index: 100;
  position: relative;
  font-size: 20px;
  border-radius: 20px;
  box-shadow:
    inset 12px 12px 32px rgba(0, 0, 0, 0.6),  
    inset -12px -12px 32px rgba(22, 28, 29, 0.05); 
  scrollbar-width: none; 
  -ms-overflow-style: none;
  padding: 40px clamp(16px, 3vw, 24px) 0 clamp(16px, 3vw, 24px);
  transition: var(--transition);

  @include respond-down("lgmd") {
    grid-column: 1 / -1;
    grid-row: 2 / -1;
    margin-left: 20px;
  }

  @include respond-down("sm") {
    font-size: 16px;
    padding: 0;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &__overlay{
    filter: blur(5px) brightness(.4);
    box-shadow:
    inset 0px 0px 0px rgba(0, 0, 0, 0.6),  
    inset 0px 0px 0px rgba(22, 28, 29, 0.05); 
  }
  
  .section{
    max-width: 700px;
    width: 100%;
    margin-bottom: 40px;
    margin-inline: auto;

    @include respond-down("xl") {
        max-width: 530px;
    }

    @include respond-down("lgmd") {
        max-width: unset;
        padding-inline: 20px;
    }
  }

  .section-heading{
    font-size: 50px;
    margin-bottom: 20px;
  }
}






