.layout {
  display: grid;
  grid-template-columns: minmax(400px, 30%) 1fr; 
  grid-template-rows: 160px 1fr; 
  height: 100svh;

  @include respond-down("lg") {
    grid-template-columns: minmax(320px, 30%) 1fr; 
  }

  @include respond-down("lgmd") {
      grid-template-columns: 1fr;
      grid-template-rows: 100px 1fr; 
  }
}