//__COLORS
$black: rgb(22, 28, 29);
$black-lighter: #363230;
$black-light: #4D4946;
$black-lightest: #6A6867;

$orange: rgb(248, 190, 161);
$orange-dark: #7b442c;
$orange-light: #F7DACC;

//__OTHERS
$font-stack: "Montserrat Alternates", sans-serif;
$transition: .5s ease;
$transition-fast: .3s ease;

:root {
  --black: #{$black};
  --black-lighter: #{$black-lighter};
  --black-light: #{$black-light};
  --black-lightest: #{$black-lightest};
  --orange: #{$orange};
  --orange-dark: #{$orange-dark};
  --orange-light: #{$orange-light};
  --font-stack: #{$font-stack};
  --transition: #{$transition};
  --transition-fast: #{$transition-fast};
  --gutter: clamp(16px, 5vw, 40px); 
}
